:root {
    --chatBarDist: 0;
    --chatBarBlur: 2rem;
}

.menuBarStyle {
    height: auto;
    padding: 1%;
    background-color: white;
    box-shadow: var(--chatBarDist) var(--chatBarDist) var(--chatBarBlur) var(--sealGrayShadow);
}

.contentStyle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 700px;
    margin: auto;
    width: 100%;
}

.mobileContentStyle {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin: auto;
    margin-bottom: 1%;
    width: 100%;
}

.txtFieldStyle {
    display: block;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #ebebeb;
    border-radius: 2rem;
    max-height: 8rem;
    overflow-y: scroll;
    overflow-wrap: break-word;
    border: 1px solid var(--kennedyGray);
    box-sizing: border-box;
}

.chatOptStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2.25rem;
    color: white;
    font-size: 1rem;
    background-color: var(--polyGreen);
    margin-left: 1%;
    border-radius: 2rem;
    border: 1px solid var(--polyGreen);
    cursor: pointer;
    box-sizing: border-box;
}

.chatOptActive {
    color: var(--polyGreen);
    background-color: white;
}

.chatOptStyleMobile {
    margin: 0;
}

.optTextStyle {
    font-size: 15px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

.hidden {
    display: none;
}